.loading {
  font-size: 3rem;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  overflow: hidden;
}

.homeNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navList {
  display: grid;

  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 90%;
  grid-template-columns: 1fr 3fr;
}

.navListUser {
  display: flex;
}

.navListIcons {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

.navListIconsBox {
  width: 20%;
}

.individualIcons {
  display: flex;
  align-items: center;
}

.userIcon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.navIconContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navIcon {
  font-size: 2.5rem;
  color: black;
}

.iconTitles {
  font-size: 1rem;
  text-justify: center;
}

.filterContainer {
  display: flex;
  width: 100vw;
  align-items: center;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  width: 10rem;
  height: 3rem;
  border-radius: 10rem;
  color: black;
  border: 0rem transparent transparent;
  background-color: rgb(237, 237, 237);
}

.logo {
  font-size: 4rem;
  color: black;
  text-align: center;
}

.searchIcon {
  font-size: 1.5rem;
  color: black;
  margin: 0;
}
